@model IEnumerable<MVCContact.Models.ContactModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Contact Manager</h1>

<div class="row mb-2">
    <div class="col-8">
        <form asp-action="index" asp-controller="Manager">
            <div class="input-group mb-3">
                <input name="searchBy" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="btn-search">
                <button class="btn btn-secondary" type="submit" id="btn-search">Search</button>
            </div>
        </form>
    </div>
    <div class="col-4">
        <a asp-action="Create" class="btn btn-success w-100">Create New</a>
    </div>

</div>
   
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th>
               <a asp-action="Index" asp-route-sortBy="firstname" class="btn btn-outline-light w-100">Firstname</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="surname" class="btn btn-outline-light w-100">Surname</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="email" class="btn btn-outline-light  w-100">Email</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="tel" class="btn btn-outline-light  w-100">Tel</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
